.next/
out/
node_modules/
.tools/
/assets/
.env*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.tsbuildinfo
data.js
index.html
product.html
product-page.js
reviews.js
script.js
shopify-products.json
styles.css
